body {

	font-family: Helvetica, sans-serif;

	font-size: 1em; /* 16px */

	color:  #ffffff;

    line-height: 24px;

    text-transform: none;

}






h1,h2  {

    font-family: 'Didact Gothic', sans-serif;

	font-size: 1.5625em; /* 25px */

}



h2  {

    font-family: 'Comfortaa', cursive;

	font-size: 1.5625em; /* 25px */

	text-align:center;

}



h3  {

    font-family: 'Comfortaa', cursive;

	font-size: 1.125em; /* 18px */

	background-color:#F5BFC0;

	width: 80%;

	margin-left:auto;

	margin-right:auto;

	min-height: 46px;

	line-height:46px;

	padding: 0px;

	margin-top: 0px;

	margin-bottom: 10px;

	color:#ffffff;

	border-width: 2px;

	border-radius: 5px / 5px;

}



.container {

  display: -webkit-flex;

  display: flex;

  -webkit-flex-flow: row wrap;

  flex-flow: row wrap;

  margin: 0px 20px 0px 20px;

}



header {

	width: 100%;

	height: 600px;
	

	background-repeat:no-repeat;

    background-position:center center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

	background-size: cover;

	display: -webkit-flex;

	display: flex;

	-webkit-flex-flow: row wrap;

	flex-flow: row wrap;

}

#mySketch {
	height: 250px;
	width: 800px;

	margin: auto;
	width: 50%;
	border: 3px solid rgb(235, 104, 132);
	padding: 10px;
}

header h1 {
	font-family: 'Permanent Marker', cursive;
	
	font-weight: 300;

	font-size: 90px;

	line-height: 60px;

	text-transform: none;

	color:  #f05439;

	line-height: 100%;

	text-transform: uppercase;

	text-align: center;

	margin: auto;

	width: auto;

	height: auto;

	/* background-image: url(../images/banner_text_bg.gif); */

	background-repeat: no-repeat;

	background-position: center center;

	padding: 19px 50px 19px 50px;

	-webkit-box-shadow: 0px 0px 10px;

	box-shadow: 0px 0px 10px  #5388f8;

	

}


header h2 {
	text-align: center;

	margin: auto;

	width: auto;

	height: auto;

	color:#213d7a;
}


.article_left {

	width: 47%;

	margin-right: 3%;

	-webkit-box-shadow: inset 0px 0px;

	box-shadow: inset 0px 0px;

	}

.logo, .logo_bold, .logo_footer, .logo_bold_footer{

    font-family: 'Righteous', cursive;

    font-size: 25px;

    text-transform: none;

    color: #ffffff;

}

.logo, .logo_bold, .logo_footer, .logo_bold_footer{

    font-family: 'Righteous', cursive;

    font-size: 25px;

    text-transform: none;

    color: #ffffff;

}

.logo {

	font-weight: 300;

    line-height: 46px;

}

.logo_bold {

	font-weight: 700;

    line-height: 46px;

}

.logo_footer {

	font-weight: 300;

    line-height: 65px;

}

.logo_bold_footer {

	font-weight: 700;

    line-height: 65px;

}


/* 
.top_left  {

	width: 100%;

  	display: -webkit-flex;

  	display: flex;

  	-webkit-flex-flow: row wrap;

  	flex-flow: row wrap;

} */

section{
	width: 35%;
	margin: 40px 2% 0px auto;
	background-color:  #477cf0;
	-webkit-box-shadow: 5px 5px 3px rgb(170, 200, 255);
	box-shadow: 5px 5px 3px rgb(230, 134, 96);
}

aside{
	width: 26%;
	margin: 40px auto 0px auto;
	background-color: rgb(231, 119, 84);
	-webkit-box-shadow: 5px 5px 3px rgb(98, 157, 235);
	box-shadow: 5px 5px 3px rgb(122, 150, 241);
}







ol{

	list-style-type: none;

	padding: 0;

	overflow: hidden;

	text-align:center;

	width: 80%;

	margin-left:auto;

	margin-right:auto;

}

ol li{

	min-height: 46px;

	margin-bottom: 10px;

	border: 2px dashed rgb(255, 255, 255);

	border-radius: 5px / 5px;

}

ol li a:link {

    font-family: 'Comfortaa', cursive;

    font-size: 15px;

    line-height: 21px;

	font-weight: 300;

	display: block;

	color:rgb(255, 255, 255);

	text-align: center;

	text-decoration: none;

	padding: 12px 28px 12px 28px;

	border-radius: 5px / 5px;

}

ol li a:visited {

	color:#c39351;
	

}

ol li a:hover {

	background-color: #161d5c;
	
}





ul{

	list-style-type: none;

	padding: 0;

	overflow: hidden;

	text-align:center;

}

ul li{

	color:#FFF;

	margin-bottom: 10px;

	

}

ul li a:link {

	font-family: 'Comfortaa', cursive;

	width: 80%;

	font-size: 15px;

	line-height: 46px;

	font-weight: 300;

	display: block;

	color: #ffffff;

	text-align: center;

	text-decoration: none;

	border-color: #ffffff;

	border-style: dashed;

	border-width: 2px;

	margin-left: auto;

	margin-right: auto;

	border-radius: 5px / 5px;

}

ul li a:visited {

	border: 2px dashed #ffffff;

	color: #ffecd4;

}

ul li a:hover {

	border-color:#ffffff;

    border-style: dashed;

	border-width: 2px;

	color:#220A0D;

	background-color: #ffffff;

}

footer  {

	margin-top: 40px;

	width: 100%;

	background-color:#da5b12;

	height: 65px;

}

.footer_left  {

	width: 20%;

  display: -webkit-flex;

  display: flex;

  -webkit-flex-flow: row wrap;

  flex-flow: row wrap;

}

.footer_right  {

	width: 80%;

	text-align: right;

}



.footer_text {

    font-family: Helvetica, Microsoft YaHei, SimHei;

	font-weight: normal;

    font-size: 13px;

    text-transform: none;

    color: #ffffff;

    line-height: 65px;

	text-align: right;

}

.lxfooter {

    font-family: Helvetica, Microsoft YaHei, SimHei;

	font-weight: normal;

    font-size: 13px;

    text-transform: none;

    color: #ffffff;

    line-height: 65px;

	text-align: right;

	text-decoration: none;

}

.lxfooter:link {

        color: #ffffff;

}

.lxfooter:visited {

        color: #ffffff;

}

.lxfooter:hover {

        color: #220A0D;

}











@media (min-width: 1200px) {

	

.container {

    width: 1200px;

    margin-left: auto;

    margin-right: auto;

}



}



@media (max-width: 1200px) {



}



@media screen and (max-width: 800px) {

	.container {

		width: 800px;
	
		margin-left: auto;
	
		margin-right: auto;
	
	}

	#mySketch {
		height: 300px;
	}

header {

	width: 100%;

	height: auto;

	background-repeat:no-repeat;

    background-position:center center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

	background-size: cover;

	display: -webkit-flex;

	display: flex;

	-webkit-flex-flow: row wrap;

	flex-flow: row wrap;

}

header h1 {

    font-family: 'Permanent Marker', cursive;

	font-weight: 300;

    font-size: 50px;

    line-height: 60px;

    text-transform: none;

	color:rgb(247, 113, 72);

    line-height: 100%;

    text-transform: uppercase;

	text-align:center;

    margin: auto;

	width: auto;

	height: auto;

	background-image: url(../images/banner_text_bg.gif);

	background-repeat:no-repeat;

    background-position:center center;

	padding: 10px 25px 10px 25px;

	background-size: 500px 25px;

}

header h2{
	width: auto;

	height: auto;
	padding: 50px 25px 10px 25px;
}

section{

	width: 100%;

	margin: 40px 2% 0px auto;

	background-color:#477cf0;

}

aside{

	width: 100%;

	margin: 40px auto 0px auto;



}

}



/* @media screen and (max-width: 582px) {

	



header {

	width: 100%;

	height: 300px;

	background-image: url(../images/_DSC1989.jpg);

	background-repeat:no-repeat;

    background-position:center center;

	-webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

	background-size: cover;

	display: -webkit-flex;

	display: flex;

	-webkit-flex-flow: row wrap;

	flex-flow: row wrap;

}

header h1 {

    font-family: 'Permanent Marker', cursive;

	font-weight: 300;

    font-size: 40px;

    line-height: 60px;

    text-transform: none;

	color:#F47779;

    line-height: 100%;

    text-transform: uppercase;

	text-align:center;

    margin: auto;

	width: auto;

	height: auto;

	background-image: url(../images/banner_text_bg.gif);

	background-repeat:no-repeat;

    background-position:center center;

	padding: 19px 50px 19px 50px;

	background-size: 350px 25px;

}

footer  {

	margin-top: 40px;

	width: 100%;

	background-color:#F47779;

	height: auto;

	padding-bottom: 10px;

}

.footer_left  {

	width: 100%;

  	display: -webkit-flex;

  	display: flex;

  	-webkit-flex-flow: row wrap;

  	flex-flow: row wrap;

	text-align: center;

}

.footer_right  {

	width: 100%;

	text-align: center;

	

}





.footer_text {

    font-family: Helvetica, Microsoft YaHei, SimHei;

	font-weight: normal;

    font-size: 13px;

    text-transform: none;

    color: #ffffff;

    line-height: 25px;

	text-align: right;

}

.lxfooter {

    font-family: Helvetica, Microsoft YaHei, SimHei;

	font-weight: normal;

    font-size: 13px;

    text-transform: none;

    color: #ffffff;

    line-height: 25px;

	text-align: right;

	text-decoration: none;

}

.lxfooter:link {

        color: #ffffff;

}

.lxfooter:visited {

        color: #ffffff;

}

.lxfooter:hover {

        color: #ba8024;

}
}	 */