blockquote {display: block;

	color: #431a4f;

}



section P {width: 640px;

	background-color: rgba(207,203,224, 0.4);

  

   text-align: left;

   padding-left: 20px;

   padding-right: 20px;


}

h2 {

	color: #431a4f ;

 text-align: center;

	margin: auto;

	font-family: 'Nunito Sans', sans-serif;

	font-size: 18px;

	padding-left: 20px;

	padding-right: 20px;

	margin-right: 10px;

	margin-left: 10px;
	

}



body {

	/* background-image: url("images/background.png"); */

	line-height: 1.7;

	font-family: 'IBM Plex Sans Condensed', sans-serif;

	margin-right: 30px;

	margin-left: 30px;

	text-align: justify;

	background-color: rgba(207,203,224, 0.4);
}

h1 {

	text-align: center; 

	color: #431a4f ;

	font-family: 'Nunito Sans', sans-serif;

	font-size:25px;

	margin-top:10px;

	margin-bottom: 10px;

	text-shadow: 2px 2px plum;

	padding-left: 20px;

	padding-right: 20px;

	
}

article {

 width: 700px;

 margin: auto;

	background-image: url("images/bancggg.png")

	

}



header {

	text-align: center;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ada6d9+0,abaeda+100 */

	background: linear-gradient(to bottom, #ada6d9 0%,#abaeda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ada6d9', endColorstr='#abaeda',GradientType=0 ); /* IE6-9 */

	color: #431a4f;

	height: 35px;

	

}



header a {

	color: #431a4f;

	font-size: 20px;

	position: relative;

	text-decoration: none;

	

}



nav ul {

color: #431a4f;

background-color:#cfcbe0; 

margin-right: 10px;

margin-left: 10px;

color: #431a4f;

padding-left: 20px;

padding-right: 20px;

}



a {
text-decoration: none;
color: #431a4f ;
}

.container {
padding: 0 15px;
}

a {
font-weight: 600;
text-decoration: none;
}

nav {
background: #676767;
}

nav ul {
padding: 0;
margin: 0;
list-style-type: none;
}

nav ul li  {
display: block;
text-transform: uppercase;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-weight: 100;
color:#EBEBEB;
font-size: 18px;
text-align: center;
padding: 20px 0;
border-bottom: 1px solid #929292;
text-shadow: 2px 2px plum;

	
}

nav ul li a:hover {
background: #C4C4C4;
color:#333;
}

nav ul {
display: flex;
}

nav ul li {
flex:1;
}

nav ul li a {
border-bottom: none;

}

nav ul li:last-of-type a {
border-right: none;
}

footer  {
text-align: center;
}
